.selectList {
    overflow-x: hidden;
    overflow-y: scroll;
    align-items: flex-start;
    white-space: nowrap;
    vertical-align: text-bottom;
    text-align: start;
    box-sizing: border-box;
    width: fit-content;
}

.selectItem {
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    cursor: default;
}

.selectedItem {
    background-color: rgb(22, 150, 255);
    color: #FFF;
}