.Presenter {
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 75% 25%;
    height: 100%;
}

#PresenterDisplay {
    grid-column: 2;
    grid-row: 1;
    position: relative;
}

.SongLibrary {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: span 2;
    height: 100%;
}

#displayVerseList {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: span 2;
    height: 100%;
}

.DisplayControls {
    grid-column: 3;
    grid-row-start: 2;
    /* border: 2px solid black;     */
    height: 100%;
}

.Presenter .List {
    height: calc(100% - 40px);
}